<div class="footer">
  <div class="incomplete">
    <span>לסיום: <b>{{ incomplete }}</b></span>
  </div>

  <div class="complete">
    <span>הושלמו: <b>{{completed}}</b></span>
  </div>

  <div class="total">
    <span>סה"כ: <b>{{todos.length}}</b></span>
  </div>
</div>